{% extends '../base.html' %}
{% block content %}
  <h2>
    Outros Documentos
    <small>| <a href="{% url 'document-create' %}">Novo</a></small>
  </h2>
  {% if object_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        {% for document in object_list %}
          <tr>
            <td>{{ document.pk }}</td>
            <td>{{ document.description }}</td>
            <td>
              <a href="{% url 'document-update' document.pk %}">Editar</a> |
              <a href="{% url 'document-delete' document.pk %}">Apagar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Não existe documentos cadastrado</p>
  {% endif %}
{% endblock %}