{% extends '../base.html' %}
{% block content %}
  <h2>
    Produtos
    <small>| <a href="{% url 'product-create' %}">Novo</a></small>
  </h2>
  {% if object_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        {% for product in object_list %}
          <tr>
            <td>{{ product.pk }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.amount }}</td>
            <td>
              <a href="{% url 'product-update' product.pk %}">Editar</a> |
              <a href="{% url 'product-delete' product.pk %}">Apagar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Não existe produto cadastrado</p>
  {% endif %}
{% endblock %}